/*****************************************************************************/
/* Details: Style */
/*****************************************************************************/
$line-color: #333;

@import '../../../stylesheets/_mixins';
@import '../../../stylesheets/_placeholders';
@import '../../../stylesheets/_variables';

.details {
	height: 100%;
	overflow-y: scroll;
	.recipe-image {
		position: relative;
		width: 100%;
		height: 275px;
		background-size: cover;
		.recipe-title {
			position: absolute;
			bottom: 0;
			text-align: center;
			width: 100%;
			color: white;
		}
		&:before {
			content: '';
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.7));
		}
	}
		
	.recipe-banner {
		background-color: #222;
		padding: 5px 0px;
		border-top: 1px solid $line-color;
		border-bottom: 1px solid $line-color;
		.col-xs-4 {
			color: #9d9d9d;
			h5 {
				color: #9d9d9d;
				font-weight: bold;
				padding-bottom: 5px;
				margin-top: 5px;
				margin-bottom: 5px;
				border-bottom: 1px solid $line-color;
			}
		}
		.col-xs-4:nth-child(2) {
			border-right: 1px solid $line-color;
			border-left: 1px solid $line-color;
		}
	}
	.recipe-banner2 {
		background-color: #222;
		color: #9d9d9d;
		padding: 5px;
		border-bottom: 1px solid $line-color;
		.col-xs-6:first-child {
			border-right: 1px solid $line-color;
		}
		h4 {
			pointer-events: none;
			margin-top: 5px;
			margin-bottom: 5px;
		}
	}
	.bold-underline {
		text-decoration: none;
		border-bottom: 4px solid rgb(70,70,70);
	}
	.ingredients-wrapper {
		@extend %no-gutter;

		.ingredients-list {
			padding: 0;
			list-style: none;
			li.ingredient-item {
				padding-top: 10px;
				padding-bottom: 10px;


				.ingredient-amt {
					@extend %no-gutter;
					text-align: center;
				}
				.ingredient-measurement {
					@extend %no-gutter;
					text-align: center;
				}
				.ingredient-name {
					@extend %no-gutter;

				}
			}
			li.ingredient-item:nth-child(odd){
				background-color: rgb(230,230,230);
			}
			li.ingredient-item:nth-child(even){
				background-color: rgb(238,238,238);
			}
		}
	}
	.instructions-wrapper {
		@extend %no-gutter;
		.instructions-header {
			text-align: center;
			padding: 1px;
			background-color: $dark-background;
			color: $default-font-color;
		}
	}
}
