template(name='IngredientList')
	.ingredient-list
		table.table.table-striped.borderless
			tbody
				tr
					td
						| Ingredient1
				tr
					td
						| Ingredient2
				tr
					td
						| Ingredient3
				tr
					td
						| Ingredient4
				tr
					td
						| Ingredient5
				tr
					td
						| Ingredient6