template(name='Profile')
	.profile
		.profile-image.col-xs-12.text-center
			.image
			figcaption
				| Chris Gregory
				br
				small
					| Something
		.profile-banner.col-xs-12.text-center
			.col-xs-4
				.banner1
					| Column1
			.col-xs-4
				.banner2
					| Column2
			.col-xs-4
				.banner3
					| Column3
		.col-xs-12.options
			.options-item.col-xs-12
				.col-xs-2
					span.fa.fa-cog
				.col-xs-8
					span
						| Settings
				.col-xs-2
					span.glyphicon.glyphicon-chevron-right
			.options-item.col-xs-12
				.col-xs-2
					span.glyphicon.glyphicon-star
				.col-xs-8
					span
						| Row
				.col-xs-2
					span.glyphicon.glyphicon-chevron-right
			.options-item.col-xs-12
				.col-xs-2
					span.glyphicon.glyphicon-star
				.col-xs-8
					span
						| Row 2
				.col-xs-2
					span.glyphicon.glyphicon-chevron-right
			.options-item.col-xs-12
				.col-xs-2
					span.glyphicon.glyphicon-star
				.col-xs-8
					span
						| Row 3
				.col-xs-2
					span.glyphicon.glyphicon-chevron-right
			.options-item.col-xs-12
				.col-xs-2
					span.glyphicon.glyphicon-star
				.col-xs-8
					span
						| Row 4
				.col-xs-2
					span.glyphicon.glyphicon-chevron-right