template(name='Profile')
	.profile
		.profile-image.col-xs-12.text-center
			.image
			figcaption
				| Chris Gregory
				br
				small
					| Something
		.profile-banner.col-xs-12.text-center
			.col-xs-4
				.banner1
					| Bob
			.col-xs-4
				.banner2
					| Bob
			.col-xs-4
				.banner3
					| Bob
		.col-xs-12.options
			ul
				li
					span.glyphicon.glyphicon-star
					span.li-text
						| One
					span.glyphicon.glyphicon-chevron-right.pull-right
				li
					span.glyphicon.glyphicon-star
					span.li-text
						| Two
					span.glyphicon.glyphicon-chevron-right.pull-right
				li
					span.glyphicon.glyphicon-star
					span.li-text
						| Three
					span.glyphicon.glyphicon-chevron-right.pull-right
				li
					span.glyphicon.glyphicon-star
					span.li-text
						| Four
					span.glyphicon.glyphicon-chevron-right.pull-right
				li
					span.glyphicon.glyphicon-star
					span.li-text
						| Five
					span.glyphicon.glyphicon-chevron-right.pull-right