/*****************************************************************************/
/* IngredientItem: Style */
/*****************************************************************************/

	li.ingredient-item {
		overflow: auto;

		.col-xs-2:first-child {
			padding-left: 0;
		}
		.col-xs-2:nth-child(2) {
			padding: 0;
		}
		.col-xs-8 {
			padding-right: 0;
		}
	}

