/*****************************************************************************/
/* Nav: Style */
/*****************************************************************************/

@import '../../stylesheets/_mixins';
@import '../../stylesheets/_placeholders';
@import '../../stylesheets/_variables';


.nav {
	z-index: 99;
	.wrapper {
		position: relative;
		//margin-left: 20%;
		//margin-right: 20%;
		//overflow: auto;

		//All below and a tag can be removed (better code) 
		  // and above code will restore it to regular functionality



	}
	.navbar-inverse {
		margin-bottom: 0px;
		border-bottom-color: $default-border-color;
		@include linear-gradient(to right, #333333, #1a1a1a);
	}
	.active {
		color: white !important;
	}

	.back-button {
		margin-left: 17px;
		margin-right: 0;
		margin-top: 7px;
		margin-bottom: 0px;
		color: white;
		font-size: 155%;
		padding: 0px 8px 0px 8px;
		border-color: mix($default-border-color, white, 85%);

		span {
			line-height: 32px;

		}
	}

}

.collapsing {
    -webkit-transition: none;
    transition: none;
}