template(name='Nav')
	.nav
		.main-navbar.col-xs-12
			.nav-wrapper
				.back-button.text-center.col-xs-3
					span.fa.fa-angle-left
				.navigation.text-center.col-xs-6
					a.col-xs-4.nav-button.nav-plan-button(class="{{pageCheck 'plan'}}" href="{{pathFor route='plan'}}")
						| Plan
					a.col-xs-4.nav-button.nav-shop-button(class="{{pageCheck 'shop'}}" href="{{pathFor route='shop'}}")
						| Shop
					a.col-xs-4.nav-button.nav-prep-button(class="{{pageCheck 'prep'}}" href="{{pathFor route='prep'}}")
						| Prep
				.menu-button.text-center.col-xs-3
					button.navbar-toggle(type="button")
						span.icon-bar
						span.icon-bar
						span.icon-bar
				.nav-dropdown.col-xs-12.hidden
					ul
						li
							a(href="{{pathFor route='plan'}}")
								| Home
						if loggedIn
							li.btn-add-recipe
								a(href="{{pathFor route='add-recipe'}}")
									span.glyphicon.glyphicon-edit
									|  Add Recipe
							li.btn-edit-recipe
								a(href="{{pathFor route='edit-recipe'}}")
									span.glyphicon.glyphicon-th-list
									|  Edit Recipe
							li.btn-edit-ingredients
								a(href="{{pathFor route='edit-ingredients'}}")
									span.glyphicon.glyphicon-leaf
									|  Edit Ingredients
							li.btn-profile
								a(href="{{pathFor route='profile'}}")
									span.glyphicon.glyphicon-user
									|  Profile
							li.btn-logout
								a(href="{{pathFor route='login'}}")
									span.glyphicon.glyphicon-log-out
									|  Log Out
						else
							li.btn-signup
								a(href="{{pathFor route='signup'}}")
									span.glyphicon.glyphicon-user
									|  Sign Up
							li.btn-login
								a(href="{{pathFor route='login'}}")
									span.glyphicon.glyphicon-log-in
									|  Login
