/*****************************************************************************/
/* Nav: Style */
/*****************************************************************************/

@import '../../stylesheets/_mixins';
@import '../../stylesheets/_placeholders';
@import '../../stylesheets/_variables';


.nav {
	z-index: 99;
	.wrapper {
		margin-left: 20%;
		margin-right: 20%;
		overflow: auto;		
	}
	.navbar-inverse {
		margin-bottom: 0px;
		border-bottom-color: $default-border-color;
		@include linear-gradient(to right, #333333, #1a1a1a);
	}
	.active {
		color: white !important;
	}
}