/*****************************************************************************/
/* Home: Style */
/*****************************************************************************/
@import '../../stylesheets/_mixins';
@import '../../stylesheets/_placeholders';
@import '../../stylesheets/_variables';



.home {
	padding: 0px;
	margin: 0px;
	overflow: auto;
	aside.sidebar {
		width: 40%;
	}
}
