template(name='Signup')
	.signup
		h3.page-header.text-center
			| Signup
		form.form.col-xs-10.col-xs-offset-1
			.form-group
				input.form-control(id="username" type="text" placeholder="Username")
			.form-group
				input.form-control(id="password" type="password" placeholder="Password")
			.form-group
				input.form-control(id="confirm-password" type="password" placeholder="Confirm password")
			button.btn.btn-success(type='submit')
				| Register
