template(name='MiniNav')
	.mini-wrapper
		.mini-nav
			.col-xs-2.text-center.navigate-left.pull-left
				i.glyphicon.glyphicon-chevron-left
			.dropdown-container.col-xs-8
				.section-select
					| !{headers}
					span.caret
				ul.mini-nav-dropdown.col-xs-10.col-xs-offset-1
					each dropdowns
						li(class="!{this.class}")
							a(href="#")
								| !{this.name}
			.col-xs-2.text-center.navigate-right.pull-right
				i.glyphicon.glyphicon-chevron-right