template(name='Prep')
	.prep
		+MiniNav
		.meals-header.col-xs-12.text-center
			a.day-text
				h2
					| !{dayText}'s Meals
		.meals.col-xs-12.text-center
			each renderMeals
				.recipe-prep-item(id="!{this._id}" style="background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.6)), url('!{this.img}'); background-position: center; background-size: cover;").col-xs-12
					h4.text-center
						| !{this.name}
						br
					small
						| Prep Time: 30 mins
		+PrepSidebar

