template(name='PrepSidebar')
	.prep-sidebar(id="prep-sidebar")
		.col-xs-12.wrapper
			h4.text-center
				span.fa.fa-calendar
				| Your Week
			ul.list-group
				each dayCheck
					li.list-group-item.day.col-xs-10.col-xs-offset-1(id="!{this.date}")
						span(aria-hidden="true")
							| !{this.day}
						span.badge(aria-hidden="true")
							| !{badges}
