/*****************************************************************************/
/* PrepSidebar: Style */
/*****************************************************************************/
@import '../../../stylesheets/_mixins';
@import '../../../stylesheets/_placeholders';
@import '../../../stylesheets/_variables';


body {
	overflow-x: hidden;
}

.prep-sidebar {
	@extend %absolute;
	z-index: 98;
	width: 90%;
	padding-right: 7.5%;
	height: calc(90% - (#{$navbar-height}));
	bottom: 0;
	transform: translate(-94%);

	
	.wrapper {
		background-color: $dark-background;
		color: $default-font-color;
		height: 100%;
		box-shadow: 5px 0px 20px black;
		border-top-right-radius: 5px;

		ul.list-group {
			
			li.list-group-item {
				background:$dark-background;
				@include linear-gradient(mix($dark-background, gray, 90%), $dark-background);
				border-color: mix($dark-background, black, 90%);
				border-bottom-width: 2px;
				padding: 15px;

				box-shadow: 3px 3px 5px mix($dark-background, black, 80%);
				text-transform: uppercase;
				font-weight: bold;
			}
		}
	}
}
