/*****************************************************************************/
/* Shop: Style */
/*****************************************************************************/
@import '../../stylesheets/_mixins';
@import '../../stylesheets/_placeholders';
@import '../../stylesheets/_variables';



.shop {
	background-color: $dark-background;
	@include linear-gradient(to top right, $dark-background, rgb(150,150,150));
	//height: calc(100% - #{$navbar-height}) !important;
	height: 100%;

	.smart-list {
		@extend %no-gutter;
		//height: calc(100vh - (#{$navbar-height} + #{$mini-nav-height}));
		height: calc(100% - #{$mini-nav-height});
		overflow-y: scroll;

		table {
			border: none;
			margin-bottom: 0;

			th {
				background-color: mix($dark-background, white, 70%);
				color: white;
				font-weight: normal;

				img {
					height: 25px;
					width: 25px;
				}
			}

			tr {
				background-color: rgb(240,240,240);
			}
			//tr:nth-child(even) {
				background-color: rgb(230,230,230);
			//}
			tr {
				td {
					border: 0;

					.checkbox {
						display: inline;

						label {
							//@extend %no-gutter;

							input, span {
								@extend %no-gutter;
							}
						}
					}

					span.fa {
						margin:0;
						right: 15px;
						padding-left: 9px;
						padding-right: 5px;
						padding-top: 3px;
					}

					//span.left-indent {
					//	margin-left: 25px;
					//}
				}
				
			}
			tr.contained-ingredients {
				display: none;
				span.left-indent {
					margin-left: 25px;
				}
				td {
					
				}
			}
		}
	}
}
