template(name='Shop')
	.shop.transitions-content
		+MiniNav
		if smartList
			.smart-list.container
				table.table
					each smartList
						thead
							tr
								th
									img(src="!{this.icon}")
									| !{this.name}
						tbody
							tr
								td
									| Ingredient Name
							tr
								td
									| Ingredient Name
							tr
								td
									| Ingredient Name

							