template(name='EditRecipe')
	.edit-recipe
		if editPage
			+EditRecipeItem
		else
			.search-ingredients
				h4.text-center
					| Edit Recipe
				.form-group
					input.form-control(type="text" id="recipe-name" placeholder="Recipe name")
				.search-results
					each searchResults
						.search-item
							| name: !{this.name} 
							br
							| category: !{this.category}
							br
							| difficulty: !{this.difficulty}
