/*****************************************************************************/
/* variables: Style */
/*****************************************************************************/
$dark-background: #222;
$default-border-color: #333;
$default-font-color: #9d9d9d;

$navbar-height: 50px;
$mini-nav-height: 50px;

//NAVBAR

	//font
		$navbar-font-color: white;
		$navbar-font-hover: white;

	//expand
		$navbar-expand-color: white;
		$navbar-expand-border-color: white;

	//background
		$navbar-background-color: #cb2e01;
		$navbar-border-color: #811D00;
		
//MINI-NAV

	//font
		$mini-nav-font-color: white;
		$mini-nav-font-hover: white;

	//buttons
		$mini-nav-button-background-color: #005b2a;
		$mini-nav-navigation-buttons-color: white;

	//background
		$mini-nav-border-color: #005b2a;
		$mini-nav-background-color: #019043;

//Plan

	//Header/Text


//SIDEBARS
	
	//font
		$sidebar-font-color: #D78a6c;
		$sidebar-font-hover: white;

	//background
		$sidebar-background-color: #9b350d;
		$sidebar-border-color: #D78a6c;

//MEAL PLAN SIDEBAR
	//font
		$mp-sidebar-font-color: white;
		$mp-sidebar-font-hover: white;

	//background
		$mp-sidebar-background-color: white;
		$mp-sidebar-border-color: white;



//Shop

//Prep

	//PREP SIDEBAR

		//font
			$prep-sidebar-font-color: white;
			$prep-sidebar-font-hover: white;

		//background
			$prep-sidebar-background-color: white;
			$prep-sidebar-border-color: white;


//Details

