/*****************************************************************************/
/* reset: Style */
/*****************************************************************************/

$dark-background: #222;
$default-border-color: #333;
$default-font-color: #9d9d9d;

$navbar-height: 52px;
$mini-nav-height: 50px;

.transitions-container {
	//height: calc(100% - #{$navbar-height} !important);
	height: calc(100% - #{$navbar-height}) !important;
}

//* {
	//box-shadow: none !important;
	//-webkit-backface-visibility: hidden !important;
//}

.recipes, .plan-sidebar, .prep-sidebar  {
	//-webkit-transform: translateZ(0) !important;
	-webkit-backface-visibility: hidden !important;
	//-webkit-transform: translatez(0);
    //-moz-transform: translatez(0);
    //-ms-transform: translatez(0);
    //-o-transform: translatez(0);
    //transform: translatez(0);
}