/*****************************************************************************/
/* reset: Style */
/*****************************************************************************/

$dark-background: #222;
$default-border-color: #333;
$default-font-color: #9d9d9d;

$navbar-height: 50px;
$mini-nav-height: 50px;

.transitions-container {
	//height: calc(100% - #{$navbar-height} !important);
	height: calc(100% - #{$navbar-height}) !important;
    //min-width: 1005px; /* your desired width */
    //max-width: 100%;
    position: relative;
    overflow-x: hidden;
    //overflow-y: hidden;

}

* {
	box-shadow: none !important;
	//-webkit-backface-visibility: hidden !important;
}



.recipes, .plan-sidebar, .prep-sidebar  {
	//-webkit-transform: translatez(0) !important;
	-webkit-backface-visibility: hidden !important;
	//-webkit-transform: translatez(0);
    //-moz-transform: translatez(0);
    //-ms-transform: translatez(0);
    //-o-transform: translatez(0);
    //transform: translatez(0);
}