/*****************************************************************************/
/* variables: Style */
/*****************************************************************************/
body, html {
	min-height: 100%;
	height: 100%;
}

$dark-background: #222;
$default-border-color: #333;
$default-font-color: #9d9d9d;

$navbar-height: 52px;
$mini-nav-height: 50px;