/*****************************************************************************/
/* Recipes: Style */
/*****************************************************************************/
@import '../../../stylesheets/_mixins';
@import '../../../stylesheets/_placeholders';
@import '../../../stylesheets/_variables';

.recipes {
	//height: calc(100vh - (#{$navbar-height} + #{$mini-nav-height}));
	height: calc(100% - (#{$navbar-height}));
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	padding-bottom: 250px;
	.recipes-inner {
		@extend %no-gutter;

		&::before {
			pointer-events: none;
		    content:"";
		    display: block;
		    overflow: visible;
		    position: fixed;
		    top: calc(#{$mini-nav-height} + #{$navbar-height});
		    bottom: 0;
		    left: 0;
		    width: 100%;
		    background: linear-gradient(
			    rgba(0,0,0,0),
			    rgba(255,255,255,0),
			    rgba(255,255,255,0),
			    rgba(255,255,255,0),
		    	rgba(255,255,255,0),
			    rgba(255,255,255,0),
			    rgba(255,255,255,0),
			    rgba(0,0,0,0.5)
			);
		    z-index: 97;
		}

		.category-header {
			background-color: mix($dark-background, white, 70%);
			@include linear-gradient(to bottom, rgb(130,130,130), rgb(100,100,100));
			color: rgb(230,230,230);
			font-weight: normal;
			border-bottom: 1px solid $default-font-color;
		}

		.section-wrapper {
		}
	}
}
