template(name='Recipes')
	.recipes(id='recipes-wrapper')
		.col-xs-12.recipes-inner
			if filterItems
				each filterItems
					span
					| !{this.name}
			each displayRecipes 'Your Recipes' 'Recipes'
				+RecipeItem