template(name='Recipes')
	.recipes
		.col-xs-12.recipes-inner
			if filterItems
				each filterItems
					span
					| !{this.name}
			each displayRecipes 'Your Recipes' 'Search Recipes'
				+RecipeItem