template(name='Recipes')
	.recipes(id='recipes-wrapper')
		.col-xs-12.recipes-inner
			if filterItems
				each filterItems
					span
					| !{this.name}
			each displayRecipes 'Favorites' 'Recipes'
				+RecipeItem
			if planPage 'Favorites'
				each favoritesPage 'categories'
					.category-header.col-xs-12(recipe-category="!{this.name}")
						h4.text-center
							| !{this.value}
							span.glyphicon.glyphicon-triangle-top.pull-right
					.section-wrapper(recipe-category="!{this.name}")
						each favoritesPage 'recipes'
							+RecipeItem