template(name='RecipeFilter')
	.recipe-filter
		.col-xs-12.wrapper
			h4.text-center
				span.fa.fa-filter
				| Filter Results
			each filterItems
				.filter-item
					h5
						| !{this.name}
						span.pull-right.fa.fa-caret-down
					ul.filter-list
						each this.array
							li.checkbox
								label
									<input class="filter-box" type="checkbox" value="" {{checkFilter}}>
									| !{this.name}
								span.pull-right
									| (!{numberRecipes})