template(name='RecipeFilter')
	.recipe-filter(id="derp")
		.col-xs-12.wrapper
			h4.text-center
				span.fa.fa-filter
				| Filter Results
			each filterItems
				.filter-item
					h5
						| !{this.name}
						span.pull-right.fa.fa-caret-down
					ul.filter-list
						each this.array
							li.checkbox
								label
									input(type="checkbox" value="")
									| !{this.name}
								span.pull-right
									| (!{this.amount})